page-config-switch {
    .console p {
        list-style-type: none;
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
        line-height: 25px;
        padding-left: 5px;
        background-color: #e0e0e0;
    }
    .content {
        background: url('../../assets/imgs/background.jpg');
    }
}