page-config-vlan-list {
    .content {
        background: url('../../assets/imgs/background.jpg');
    }
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
    }
    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        word-break: normal;
        border-color: #ccc;
        color: #333;
        background-color: #fff;
    }
    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        word-break: normal;
        border-color: #ccc;
        color: #333;
        background-color: #f0f0f0;
    }
    .tg .tg-7kgo {
        font-size: 14px;
        font-family: "Lucida Console", Monaco, monospace !important;
        ;
        border-color: inherit;
        text-align: left
    }
    .tg .tg-93b8 {
        font-family: "Lucida Console", Monaco, monospace !important;
        ;
        border-color: inherit;
        text-align: left
    }
    .tg .tg-5nj1 {
        font-family: "Lucida Console", Monaco, monospace !important;
        ;
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }
    .tg .tg-23dq {
        font-family: "Lucida Console", Monaco, monospace !important;
        ;
        text-align: left;
        vertical-align: top
    }
}